h2 {
    font-family: "Arial Black", serif;
}

.theMan {
    background-color: plum;
}
.endGame {
    background-color: lightskyblue;
}
.look {
    background-color: crimson;
}
.lover {
    background-color: hotpink;
}